* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  height: 100px;
  padding: 20px 40px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.17);
}

section {
  padding: 20px
}

.section-main {
  display: flex;
  flex-direction: column;
}

.main-photo {
  max-width: 700px;
  align-self: center;
}

.main-header {
  margin-bottom: 16px;
}

.main-text {
  margin-top: 0;
}
